.register {
    max-width: 396px;
    margin: 0 auto;
}

.register__logo {
    background-image: url(../../images/header-logo.png);
    width: 38px;
    height: 38px;
    margin: 70px 0 0 0;
}

.register__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 40px 0 0 0;
}

.register__input-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 40px 0 83px 0;
}

.register__input-label {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
}

.register__input-label_error {
    color: #FF3055;
    padding-top: 6px;
    position: absolute;
    display: none;
}

.register__input {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    outline: 0;
    border-width: 0 0 1px;
    border-color: #E8E8E8;
    padding: 5px 0 10px 0;
    background: transparent;
    width: 396px;
}

.register__input_email {
    font-weight: 500;
}

.register__input:focus {
    border-color: #3456F3;
}

.register__button {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding: 0;
    margin: 69px 0 0 0;
    width: 396px;
    height: 45px;
    color: #FFFFFF;
    background: #3456F3;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.register__button:hover {
    opacity: 0.85;
    transition: opacity 0.5s;
}

.register__signin-text {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #A0A0A0;
    text-align: center;
    margin-top: 16px;
}

.register__signin-text_link {
    color: #3456F3;
    text-decoration: none;
}

.register__signin-text_link:hover {
    opacity: 0.85;
    transition: opacity 0.5s;
}

@media screen and (max-width: 410px) {
    .register {
        max-width: 260px;
        margin: 0 auto;
    }

    .register__logo {
        margin: 56px auto 0 auto;
    }

    .register__title {
        margin: 50px 0 0 0;
        text-align: center;
    }

    .register__input-list {
        margin: 80px 0 83px 0;
    }

    .register__input {
        width: 260px;
    }

    .register__button {
        font-size: 12px;
        line-height: 15px;
        margin: 157px 0 0 0;
        width: 260px;
    }

    .register__signin-text {
        font-size: 12px;
        line-height: 15px;
    }
}